{
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn", "cva"]
}
